@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --main-font : 'Inconsolata', monospace;
}

*{
  margin: 0;
  padding: 0;
  cursor: default;
}

.App {
  font-family: 'Inconsolata', monospace;
  color: white;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.App h2 {
  font-size: 3.125rem;
  font-weight: 600;
}
h2 input {
  background: none;
  color: white;
  border: none;
  font-size: 3rem;
  font-weight: 600;
  width: 20rem;
  padding: 0;
  text-align: center;
  outline: none;
  margin-top: 3rem;
  cursor: text;
}
.App h1 {
  font-size: 6.25rem;
  font-weight: 700;
}
h1 span {
  font-size: 4.5rem;
  font-weight: 400;
}
.App h4 {
  font-size: 1.875rem;
  font-weight: 500;
}

.error-message {
  padding-top: 0.6rem;
}

.temp-descript-container {
  margin-top: 12rem;
  width: 10rem;
  height: 10rem;
}